body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App{
  margin: 30px;
}

.grid{
  width: 100%;
  display: inline-block;
  padding: 5px;
}

.column{
  width:16.5%;
  display: inline-block;
}

.square{
  button{
    width: 100%;
    border-radius: 0;
    border-style: none;
    background: #f7f7f7;
    margin: 0px;
    outline: none;
    border: 5px solid #f7f7f7;

    &.active.player-0{
      background: yellow;
      border: 5px solid darken(yellow, 7%);
    }

    &.active.player-1{
      background: red;
      border: 5px solid darken(red, 7%);
    }

    &.active.winning-square{
      background: #12ff12;
      border: 5px solid darken(#12ff12, 7%);
    }
  }
}

// hide numbers
.grid{
  .heading, .square button{
    font-size: 0; 
  }
}


