body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App{
  margin: 65px auto 0;
  text-align: center;
  
  .home{
    .game-menu{
      .home{
        display:none;
      }
    }
  }

  .play{
    .game-menu{
      li{
        display: none;

        &.home{
          display: inline-block;
        }
      }
    }
  }



  .popup{
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,.5);
    padding: 40px;
    max-width: 250px;
    margin: 0 auto;
    box-shadow: 5px 6px 20px rgba(0,0,0,.5);

    &.player-0{
      border: 4px dashed yellow;
    }
    
    &.player-1{
      border: 4px dashed red;
    }

    h3{
      font-weight: 400;
    }

    button{
      font-size: 14px;
      padding: 7px 15px;
      color: #000;
      background: #f7f7f7;
      border-radius: 0px;
      border: 1px solid darken(#f7f7f7, 20%);
      cursor: pointer;
    }
  }

  .admin-bar{
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    font-size: 11px;

    .item{
      padding: 5px 5px;
      display: inline-block;
    }

    .score{
      display: inline-block;
      background: #fb8383;
      color: #fff;
      font-weight: 300;
      margin-right: 5px;

      .item{
        padding: 5px 10px;
        display: inline-block;

        &.player0{
          background: yellow;
          border: 1px solid darken(yellow, 10%);
          color: #000;
        }

        &.player1{
          background: red;
          border: 1px solid darken(red, 10%);
        }
      }

      .label{
        padding: 5px;
      }
    }
  }

  .curr-turn{
    span{
      letter-spacing: 1px;
      font-weight: 700;
      position: relative;
      padding-left: 20px;
      
      &:after{
        content:"";
        position: absolute;
        left: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }

    .player-0{
      &:after{
        background: yellow;
        border: 1px solid darken(yellow, 10%);
      }
    }

    .player-1{
      &:after{
        background: red;
        border: 1px solid darken(red, 10%);
      }
    }
  }
}

.grid{
  width: 100%;
  display: inline-block;
  padding: 5px;
}

.column{
  width:14.25%;
  display: inline-block;
}

// hide numbers
.grid{
  .heading, .square button{
    font-size: 0; 
  }
}

@media all and (min-width: 767px){
  .App{
    margin: 90px 30px;
  }
}
