body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App{
  margin: 30px;
}

.grid{
  width: 100%;
  display: inline-block;
  padding: 5px;
}

.column{
  width:14.25%;
  display: inline-block;
}

.admin-prompt{
  margin-bottom: 20px;

  h4{
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    font-weight: 400;
  }

  .submit{
    font-size: 14px;
    padding: 7px 15px;
    color: #000;
    background: #f7f7f7;
    border-radius: 0px;
    border: 1px solid darken(#f7f7f7, 20%);
    cursor: pointer;

    &:hover{
      background: darken(#f7f7f7, 5%);
    }
  }
}

// hide numbers
.grid{
  .heading, .square button{
    font-size: 0; 
  }
}


